<input type="radio" value="all" [(ngModel)]="selectedCategory" on-change="selectedCategorydone()"
    name="same">{{'All('+all+')'}}
<input type="radio" value="electronic" [(ngModel)]="selectedCategory" on-change="selectedCategorydone()"
    name="same">{{'electronic('+electronic+')'}}
<input type="radio" value="fashion" [(ngModel)]="selectedCategory" on-change="selectedCategorydone()"
    name="same">{{'fashion('+fashion+')'}}
<input type="radio" value="mobile" [(ngModel)]="selectedCategory" on-change="selectedCategorydone()"
    name="same">{{'mobile('+mobile+')'}}
<input type="radio" value="books" [(ngModel)]="selectedCategory" on-change="selectedCategorydone()"
    name="same">{{'books('+books+')'}}
