<table class="table" border="3">
    <thead>
        <tr>
            <th scope="col">Name:</th>
            <th scope="col">Gender:</th>
            <th scope="col">RollNo:</th>
            <th scope="col">Mathematics:</th>
            <th scope="col">English:</th>
            <th scope="col">Hindi:</th>
            <th scope="col">Physics:</th>
            <th scope="col">TOTAL:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let std of studentinfo">
            <td>{{std.name}}</td>
            <td>{{std.gender}}</td>
            <td>{{std.rollno}}</td>
            <td >{{std.math}}</td>
            <td>{{std.english}}</td>
            <td>{{std.hindi}}</td>
            <td>{{std.physics}}</td>
            <!-- <td [ngClass]="{'pass':(std.math+std.english+std.hindi+std.physics)>=150 , 'fail':(std.math+std.english+std.hindi+std.physics)<150}">
                {{std.math+std.english+std.hindi+std.physics}}</td> -->
            <td highlight [bgcolor]="(std.math+std.english+std.hindi+std.physics)>=150?'green':'red'"
                [font]="(std.math+std.english+std.hindi+std.physics)<150?'bolder':'0px'">
                {{std.math+std.english+std.hindi+std.physics}}</td>
        </tr>
    </tbody>
</table>