<!-- <h1 style="color: red;">Items Inventory and information</h1> -->
<!-- <product></product> -->
<!-- <h1>Student report</h1>
<student></student> -->
<div class="m-4 px-5">
    <h1>content information</h1>
</div>
<!-- this is for solo projection -->
<!-- <content>click</content>
<content>ok</content>
<content>cancel</content> -->

<!-- <div class="card-group justify-content-evenly">
    <content>
        <div class="cardtitle">naveen</div>
        <div class="cardsubtitle">QWERTYUIOP</div>
        <div class="cardtext">hello its naveen</div>
    </content>
    <content>
        <div class="cardtitle">naveen</div>
        <div class="cardsubtitle">QWERTYUIOP</div>
        <div class="cardtext">hello its naveen</div>
    </content>
    <content>
        <div class="cardtitle">naveen</div>
        <div class="cardsubtitle">QWERTYUIOP</div>
        <div class="cardtext">hello its naveen</div>
    </content>
    <content>
        <div class="cardtitle">naveen</div>
        <div class="cardsubtitle">QWERTYUIOP</div>
        <div class="cardtext">hello its naveen</div>
    </content>
</div> -->


<!-- for template form -->
<content></content>


