.green{
    background-color: green;
}
.purple{
    background-color: purple;
}

.maroon{
    background-color: maroon;
    color: aliceblue;
}

.orange{
    background-color: orangered;
    color: black;
}